* {
  box-sizing: border-box;
  font-family: "public sans", sans-serif;
}

@media (min-width: 501px) {
  .App {
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
    width: 1440px;
  }

  .Navigator {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    height: 5rem;
    z-index: 1;
  }

  .Routes {
    justify-content: space-between;
    width: auto;
    z-index: 1;
  }

  .Route {
    text-decoration: none;
    margin: 1rem;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    font-weight: 500;
    font-size: 18px;
    color: hsl(233, 8%, 62%);
    position: relative;
    width: max-content;
    z-index: 1;
  }

  .Route::before {
    content: "";
    position: absolute;
    bottom: -1.9rem;
    height: 5px;
    width: 100%;
    left: 0;
    background-image: linear-gradient(90deg,
        hsl(136, 65%, 51%) 10%,
        hsl(192, 70%, 51%) 100%);
    transition: 0.25s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
  }

  .Route:hover::before {
    transform: scaleX(1);
  }

  .Route:hover {
    color: hsl(233, 26%, 24%);
  }

  .Invitation {
    cursor: pointer;
    background-image: linear-gradient(90deg,
        hsl(136, 65%, 51%) 10%,
        hsl(192, 70%, 51%) 100%);
    border: none;
    font-weight: 300;
    font-size: 18px;
    color: hsl(0, 0%, 98%);
    font-weight: 500;
    padding: 1rem 2.8rem;
    border-radius: 12%/50%;
    z-index: 1;
  }

  .Invitation:hover {
    background-image: linear-gradient(90deg,
        hsl(136, 65%, 68%) 10%,
        hsl(192, 70%, 68%) 100%);
  }

  .Body {
    padding: 0px;
    width: 100%;
    display: flex;
    background-color: hsl(0, 0%, 98%);
    height: 50rem;
  }

  .Left-size {
    padding-top: 10rem;
    width: 50%;
  }

  .Title {
    margin: auto;
    font-weight: 500;
    width: 60%;
    font-size: 3.5rem;
    padding-bottom: 2rem;
    color: hsl(233, 26%, 24%);
  }

  .Subtitle {
    margin: auto;
    font-weight: 300;
    width: 60%;
    font-size: 18px;
    padding-bottom: 2rem;
    color: hsl(233, 8%, 62%);
  }

  .Right-size {
    width: 50%;
    background-image: url("./resources/bg-intro-desktop.svg");
    background-position: left bottom;
    z-index: 0;
    overflow: hidden;
  }

  .Invitationbutton {
    margin-left: 11.5rem;
  }

  .Mockups {
    position: relative;
    top: -120px;
    text-align: end;
    z-index: 0;
    cursor: default;
    caret-color: transparent;
    bottom: 0;
  }

  .Second_Body {
    background-color: hsl(220, 16%, 96%);
    width: 100%;
    padding: 5rem;
  }

  .Second_title {
    font-weight: 500;
    font-size: 3rem;
    color: hsl(233, 26%, 24%);
    text-align: start;
    padding-left: 6.5rem;
  }

  .Second_subtitle {
    margin-left: 6.5rem;
    margin-top: 2rem;
    font-weight: 300;
    width: 40%;
    font-size: 18px;
    padding-bottom: 2rem;
    color: hsl(233, 8%, 62%);
  }

  .Bullets {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    width: 85%;
    gap: 2.2rem;
  }

  .Reason {
    margin: auto;
  }

  .Reason_Title {
    font-size: 24px;
    color: hsl(233, 26%, 24%);
    margin: 2rem 0rem;
  }

  .Reason_Subtitle {
    width: 100%;
    font-size: 18px;
    color: hsl(233, 8%, 62%);
    font-weight: 300;
  }

  .Third_Body {
    padding: 5rem;
    width: 100%;
    background-color: hsl(0, 0%, 98%);
  }

  .Third_Title {
    font-weight: 500;
    font-size: 3rem;
    color: hsl(233, 26%, 24%);
    text-align: start;
    padding-left: 6.5rem;
    margin-bottom: 3rem;
  }

  .Articles {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    width: 85%;
    gap: 2.2rem;
  }

  .Article {
    max-width: 250px;
    width: 100%;
    height: 100%;
    padding: 0px 10px 0px 0px;
    display: flex;
    flex-direction: column;
  }

  .Article_Image {
    width: 100%;
    height: 100%;
    max-height: 180px;
    display: flex;
    padding-top: 0px;
  }

  .Article_Image img {
    width: 250px;
    height: 190px;
    max-height: 190px;
    object-fit: cover;
    object-position: center;
  }

  .Article_Body {
    width: 250px;
    height: 240px;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    margin: 0px;
  }

  .Article_Author {
    color: hsl(233, 8%, 62%);
    font-size: 12px;
    margin-bottom: 0.5rem;
  }

  .Article_Title {
    color: hsl(233, 26%, 24%);
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 0.5rem;
  }

  .Article_Title:hover {
    background: linear-gradient(90deg,
        hsl(136, 65%, 51%) 10%,
        hsl(192, 70%, 51%) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  .Article_Resume {
    color: hsl(233, 8%, 62%);
    font-size: 16px;
  }

  .Footer {
    display: flex;
    padding: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    background-color: hsl(233, 26%, 24%);
  }

  .Footer_Left {
    padding-left: 6.5rem;
    width: 30%;
  }

  .Social {
    display: grid;
    cursor: pointer;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 3rem;
    width: 60%;
  }

  .Social svg {
    fill: white;
  }

  .Social svg:hover {
    fill: url(#gradient);
  }

  .Footer_Middle {
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    gap: 1rem;
  }

  .Footer_Middle span {
    font-weight: 300;
    font-size: 15px;
    color: hsl(0, 0%, 98%);
    cursor: pointer;
  }

  .Footer_Middle span:hover {
    background: linear-gradient(90deg,
        hsl(136, 65%, 51%) 10%,
        hsl(192, 70%, 51%) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .Footer_Right {
    width: 40%;
    margin: 0px;
    text-align: right;
  }

  .copyright {
    margin-top: 2rem;
    color: hsl(233, 8%, 62%);
  }
}

@media (max-width: 500px) {
  .Navigator {
    display: grid;
    padding-top: 0.2rem;

    grid-template-columns: repeat(2, 1fr);
  }

  .Logo {
    width: 100%;
  }

  .Menu {
    width: 100%;
    margin: auto
  }

  .Menu_Icon {
    padding-top: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: 1rem;
    width: 18px;
    height: 15px;
    ;
  }

  .Routes {
    position: absolute;
    top: 20px;
    left: 18px;
    background-color: hsl(0, 0%, 98%);
    list-style-type: none;
    margin: auto;
    margin-top: 2rem;
    width: 90%;
    text-align: center;
    padding-top: 2rem;
    border-radius: 0.2rem;
    z-index: 1;
  }

  .Route {
    padding-bottom: 2rem;
    color: hsl(233, 26%, 24%);
    z-index: 1;
  }

  .Route:hover {
    background: linear-gradient(90deg,
        hsl(136, 65%, 51%) 10%,
        hsl(192, 70%, 51%) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .Shadow {
    position: absolute;
    top: 43px;
    left: 2%;
    width: 96%;
    height: 100%;
    z-index: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }

  .Mockups {
    margin-top: 0.5rem;
    background-image: url("./resources/bg-intro-mobile.svg");
    max-width: 100%;
    max-height: 300px;
    z-index: -1;
    overflow: hidden;
    background-attachment: relative;
    background-position: 0px -50px;
    background-repeat: no-repeat;
    text-align: center;
    ;
  }

  .Mockups img {
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
    z-index: 0;
    max-width: 90%;
    margin: auto;

  }

  .First_Body {
    background-color: hsl(0, 0%, 98%);
    width: 100%;
    height: auto;
    z-index: -1;
    padding: 1rem;
    padding-bottom: 4rem;
  }

  .First_Title {
    margin: auto;
    font-weight: 500;
    width: 90%;
    font-size: 2rem;
    padding-bottom: 2rem;
    color: hsl(233, 26%, 24%);
    text-align: center;
  }

  .First_Subtitle {
    margin: auto;
    font-weight: 300;
    width: 90%;
    font-size: 15px;
    padding-bottom: 2rem;
    color: hsl(233, 8%, 62%);
    text-align: center;
  }

  .Button {
    text-align: center;
  }

  .Invitation {
    cursor: pointer;
    background-image: linear-gradient(90deg,
        hsl(136, 65%, 51%) 10%,
        hsl(192, 70%, 51%) 100%);
    border: none;
    font-weight: 300;
    font-size: 18px;
    color: hsl(0, 0%, 98%);
    font-weight: 500;
    padding: 0.8rem 1.9rem;
    border-radius: 12%/50%;
    z-index: 1;
  }

  .Invitation:hover {
    background-image: linear-gradient(90deg,
        hsl(136, 65%, 68%) 10%,
        hsl(192, 70%, 68%) 100%);
  }

  .Second_Body {
    background-color: hsl(220, 16%, 96%);
    width: 100%;
    height: auto;
    z-index: -1;
    padding: 1rem;
    padding-bottom: 4rem;
  }

  .Second_title {
    font-weight: 500;
    font-size: 2rem;
    color: hsl(233, 26%, 24%);
    text-align: center;
    margin: auto;
  }

  .Second_subtitle {
    margin: auto;
    margin-top: 2rem;
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 2rem;
    color: hsl(233, 8%, 62%);
    text-align: center;
  }

  .Bullets {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 2.2rem;
  }

  .Reason {
    margin: auto;
  }

  .Reason_Icon {
    text-align: center;
  }

  .Reason_Title {
    font-size: 18px;
    color: hsl(233, 26%, 24%);
    margin: 2rem 0rem;
    text-align: center;
  }

  .Reason_Subtitle {
    width: 100%;
    font-size: 15px;
    color: hsl(233, 8%, 62%);
    font-weight: 300;
    text-align: center;
  }

  .Third_Body {
    background-color: hsl(0, 0%, 98%);
    width: 100%;
    height: auto;
    z-index: -1;
    padding: 1rem;
  }

  .Third_Title {
    font-weight: 500;
    font-size: 2rem;
    color: hsl(233, 26%, 24%);
    text-align: center;
    margin-bottom: 3rem;
  }

  .Articles {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    text-align: center;
  }

  .Article {
    max-width: 250px;
    width: 100%;
    height: 100%;
    padding: 0px 0px 1rem 0px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .Article_Image {
    max-width: 250px;
    height: auto;
    max-height: 180px;
    display: flex;
    padding-top: 0px;
    text-align: center;
  }

  .Article_Image img {
    max-width: 250px;
    max-height: auto;
    object-fit: cover;
    object-position: center;
    text-align: center;
  }

  .Article_Body {
    max-width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    margin: 0px;
    text-align: start;
  }

  .Article_Author {
    color: hsl(233, 8%, 62%);
    font-size: 12px;
    margin-bottom: 0.5rem;
    text-align: start;
  }

  .Article_Title {
    color: hsl(233, 26%, 24%);
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 0.5rem;
    text-align: start;
  }

  .Article_Title:hover {
    background: linear-gradient(90deg,
        hsl(136, 65%, 51%) 10%,
        hsl(192, 70%, 51%) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  .Article_Resume {
    color: hsl(233, 8%, 62%);
    font-size: 16px;
    text-align: start;
  }
  .Footer {
    width: 100%;
    background-color: hsl(233, 26%, 24%);
    width: 100%;
    height: auto;
  }
  .Footer_Logo{
    padding-top:2rem;
    text-align: center;
  }
  .Social {
    display: grid;
    cursor: pointer;
    margin: auto;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 2rem;
    gap: 1px;
    margin-bottom: 1rem;
  }
.Social a{
  text-align: center;
}
  .Social svg {
    text-align: center;
    fill: white;
  }

  .Social svg:hover {
    fill: url(#gradient);
  }
  .Footer_routes{
    margin-bottom: 1rem;
  }
  .Footer_route {
    margin:auto;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    color: hsl(0, 0%, 80%);
    cursor: pointer;
    padding-bottom: 1rem;
  }
  .Footer_route:hover {
    background: linear-gradient(90deg,
        hsl(136, 65%, 51%) 10%,
        hsl(192, 70%, 51%) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .FooterButton{
    text-align: center;
  }
  .copyright {
    font-size: 13px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
    text-align: center;
  }
}
